body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    background-image: url('Images/depositphotos_16313365-School-seamless-texture.jpg');
    background-repeat: repeat;
}

div.outer-container {
    //display: table;
    padding: 10em;
    width: 100%;
    height: 100%;
    margin-top: 5em;
    background-color: #ebebeb;
    opacity: 0.9;
    border-radius: 15px;
}

div.inner-container {
    //display: table-cell;
    //vertical-align: middle;
    //border: 1px solid red;
    text-align: center;
}

.enterLinks{
    margin-left: auto;
    margin-right: auto;
}

.centeredDiv{
    margin-left: auto;
    margin-right: auto;
}


.subj{
    padding: 5px;
    background-color: #ebebeb;
    border-radius: 20px;
}